//! **************************************************************************
// Written by: Map P.28xd on Wed Nov 05 14:58:22 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Speaker" LOCATE = SITE "E11" LEVEL 1;
COMP "Reset" LOCATE = SITE "C9" LEVEL 1;
COMP "Clock100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "PlayAgain" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

